<!DOCTYPE html>
<html>
<% include ../templates/header %>    <body>

  <% include ../templates/nav %>

  <form action="/posts/<%= post._id %>" method="POST">

      <p>
      <label>Post Title</label>
      <input type="text" id="title" name="title" value="<%= post.title %>" />
      </p>

      <p>
      <label>Author</label>
      <input type="text" id="author" name="author" value="<%= post.author %>" />
      </p>

      <p>
      <label>Content</label>
      <input class="form-control" type="text" id="content" name="content" value="<%= post.content %>" />
      </p>

      <p>
      <label>Category</label>
      <input type="text" id="category" name="category" value="<%= post.category %>" />
      </p>

      <p>
      <label>Tags</label>
      <input type="text" id="tags" name="tags" value="<%= post.tags %>" />
      </p>

      <p>
      <label>Thumbnail</label>
      <input type="text" id="thumbnail" name="thumbnail" value="<%= post.thumbnail %>" />
      </p>

      <button>Update</button>

  </form>


    </div><!--#main-container-->
    </body>
</html>
